body {
  background: #809bbb;
  color: white;
  font-family: 'Calibri';
}

.container {
  max-width: 450px;
  width: 100%;
  display: table;
  margin: 0 auto;
  margin-top: 40px;
}
.search {
  margin-right: auto;
}
input {
  margin-left: auto;
  background:transparent;
  border: none;
  display: block;
  width: 300px;
  line-height: 1.5;
  padding: 8px 0 8px 10px;
  border-bottom: 1px solid #ffffff;
  outline: 0;
  font-size: 20px;
  color: #ffffff;
}


.checkbox {
  width:30px;
  margin-top: 20px;
  display: inline-block;
}
label {
  display: block;
  text-align: center;
}

::placeholder{
  color: rgb(211, 211, 211)
}

/* Gets rid of issue with chrome suggestions making input white again */
input:-webkit-autofill { 
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white !important;
}

h1{
  text-align: center;
  font-weight: 200;
  font-size: 70px;
  font-style: italic;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.05em rgb(207, 208, 209),
  0 0 0.2em #99b1ff,
  0 0 0.3em #f40;
}


/* Get rid of background space when empty list */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Add borders between list items */
ul li {
  color: #EDF5E1;
  font-weight: 400;
  border: 1px solid #cfcbcc;
  line-height: 1.5;
  padding: 8px 0;
  font-size:20px;
  transition-duration: 0.5s;
  margin: 5px;
  border-radius: 8px;
  background-color: #4d4d4d;
}

ul li:before {
  content: "☐";
  padding: 10px 10px;
  font-size: 20px;
}

.button {
  text-align: center;
}

.checked {
  color: rgb(3, 190, 3);
}

.checked:before {
  content: "☑";
  padding: 10px 10px;
  font-size: 20px;
}

.form-inline {  
  margin-left: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  
}

.color-change {
  margin: 5px;
  margin-right: auto;
  font-size: 20px;
  padding: 4px 20px;
  font-family: 'Garamond';
  cursor: pointer;
  color: #fff;
  background-color: #535353;
  font-size: 1.5rem;
  font-weight: 900;
  box-shadow: 2px 2px 5px #606568;
  transition-duration: 0.5s;
  border-radius: 8px;
  border-color: transparent;
}


@media (hover: hover) {
  .color-change:hover {
    color: #000000;
    border: 1px solid #8f8f8f;
    box-shadow: 2px 2px 20px #a8a8a8;
    background-color: #cccccc;
  }

  .checked:hover:after {
    content: " ☒";
    color: red;
    font-size: 20px;
    align-items: right;
  }

  .checked:hover {
    text-decoration: none;
  }
}
